grant {
	permission java.security.SecurityPermission "putProviderProperty.BC";
	permission java.security.SecurityPermission "insertProvider.BC";
	permission java.security.AllPermission;
};
