<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    
     <!-- log all logs to a separate log file every day -->
    <appender name="orgDevelopersLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="file" value="/opt/optimis/var/log/AdmissionControl/AC_PhysicalHostsInfo_aaS.log" />
      <param name="datePattern" value="'.'yyyy-MM-dd" />
      <param name="append" value="true" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n"></param>
      </layout>
    </appender>   
         
    <!-- LOGGER LIST -->
    <!-- log all classes in eu.optimis.admissioncontroller package -->
    <!--<logger name="eu.optimis.ac.api.ACModelApi"  additivity="false">-->
    <logger name="eu.optimis.ac.ac_ph_info.api.AC_PhysicalHostsInfo_aaS">
    
    <!-- level info logs -->
    <level value="DEBUG" ></level>
    <appender-ref ref="orgDevelopersLogFileAppender"/>
    </logger>         
         
    <!-- ** -->    
 
    <root>
      <priority value="DEBUG"></priority>
      <!-- log all log entries on log file -->
      <!-- <appender-ref ref="consoleAppender"/>--> 
      <appender-ref ref="file"/>    
    </root>  
 
</log4j:configuration>