<opt:ServiceManifest opt:manifestId="OPTIMIS_VM:1"
                     xmlns:opt="http://schemas.optimis.eu/optimis/"
                     xmlns:opt-sp="http://schemas.optimis.eu/optimis/service"
                     xmlns:opt-ip="http://schemas.optimis.eu/optimis/infrastructure"
                     opt:serviceProviderId="OPTIMUMWEB">
    <opt:VirtualMachineDescription opt:serviceId="DemoApp">
        #parse("VirtualMachineComponent.vm")
        <opt:AffinitySection>
            <opt:AffinityRule>
                <opt:Scope>
                    <opt:componentId>${componentId}</opt:componentId>
                </opt:Scope>
                <opt:AffinityConstraints>Low</opt:AffinityConstraints>
            </opt:AffinityRule>
        </opt:AffinitySection>
    </opt:VirtualMachineDescription>
    <opt:TRECSection>
        <opt:TrustSection>
            <opt:TrustLevel>5</opt:TrustLevel>
        </opt:TrustSection>
        <opt:RiskSection>
            <opt:AvailabilityArray>
            </opt:AvailabilityArray>
        </opt:RiskSection>
        <opt:EcoEfficiencySection>
            <opt:LEEDCertification></opt:LEEDCertification>
            <opt:BREEAMCertification></opt:BREEAMCertification>
            <opt:EuCoCCompliant>false</opt:EuCoCCompliant>
            <opt:EnergyStarRating>No</opt:EnergyStarRating>
        </opt:EcoEfficiencySection>
        <opt:CostSection>
            <opt:PricePlan opt:currency="EUR" opt:planCap="200.00"
                           opt:planFloor="50.00">
                <opt:Scope>
                    <opt:componentId>${componentId}</opt:componentId>
                </opt:Scope>
                <opt:PlanComponents>
                    <opt:PriceComponent opt:componentCap="100.00"
                                        opt:componentFloor="20.00">
                        <opt:ComponentLevels>
                            <opt:PriceLevel>
                                <opt:AbsoluteAmount>10.00</opt:AbsoluteAmount>
                                <opt:PriceMetrics>
                                    <opt:PriceMetric opt:factor="0.25">VM_Cost</opt:PriceMetric>
                                </opt:PriceMetrics>
                                <opt:LevelFences>
                                    <opt:PriceFence>
                                        <opt:BusinessTerm>purchaseVolume</opt:BusinessTerm>
                                        <opt:BusinessTermExpression>purchaseVolume >= quantity['discountThreshold']
                                        </opt:BusinessTermExpression>
                                        <opt:QuantityLiterals>
                                            <opt:Quantity opt:id="discountThreshold">
                                                <opt:Amount>100.0</opt:Amount>
                                                <opt:TypeReference>Gb
                                                </opt:TypeReference>
                                            </opt:Quantity>
                                        </opt:QuantityLiterals>
                                    </opt:PriceFence>
                                </opt:LevelFences>
                            </opt:PriceLevel>
                        </opt:ComponentLevels>
                        <opt:Multiplier>totalHours</opt:Multiplier>
                    </opt:PriceComponent>
                </opt:PlanComponents>
            </opt:PricePlan>
        </opt:CostSection>
    </opt:TRECSection>
    <opt:ElasticitySection>
        <opt:Rule>
            <opt:Scope>
                <opt:componentId>${componentId}</opt:componentId>
            </opt:Scope>
            <opt:KPIName>ThreadCount</opt:KPIName>
            <opt:Window>P5M</opt:Window>
            <opt:Frequency>1</opt:Frequency>
            <opt:Quota>100</opt:Quota>
            <opt:Tolerance>5</opt:Tolerance>
        </opt:Rule>
    </opt:ElasticitySection>
    <opt:DataProtectionSection>
        <opt:DataProtectionLevel>DPA</opt:DataProtectionLevel>
        <opt:DataEncryptionLevel>
            <opt:EncryptionAlgoritm>AES</opt:EncryptionAlgoritm>
        </opt:DataEncryptionLevel>
    </opt:DataProtectionSection>
    <opt-sp:ServiceProviderExtensions>
        #parse("SoftwareDependencies.vm")
    </opt-sp:ServiceProviderExtensions>
    <opt-ip:InfrastructureProviderExtensions/>
</opt:ServiceManifest>
