<opt:AffinityRule xmlns:opt="http://schemas.optimis.eu/optimis/">
    <opt:Scope>
        <opt:ComponentId>${componentId}</opt:ComponentId>
    </opt:Scope>
    <opt:AffinityConstraints>${affinityConstraints}</opt:AffinityConstraints>
</opt:AffinityRule>