<opt-ip:IncarnatedVirtualMachineComponent opt:componentId="${componentId}"
                                          xmlns:opt-ip="http://schemas.optimis.eu/optimis/infrastructure"
                                          xmlns:opt="http://schemas.optimis.eu/optimis/"
                                          xmlns:ovf="http://schemas.dmtf.org/ovf/envelope/1"
                                          xmlns:rasd="http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData"
                                          xmlns:vssd="http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_VirtualSystemSettingData">
    <opt:OVFDefinition>
        <ovf:References>
            #set ($fileRef = "${componentId}-img")
            <ovf:File ovf:href="${fileUrl}" ovf:id="${fileRef}"/>

            #foreach( $i in [1..${upperBound}] )
                <ovf:File ovf:href="${fileUrl}" ovf:id="${fileRef}_instance-${i}"/>
            #end
        </ovf:References>
        <ovf:DiskSection>
            <ovf:Info></ovf:Info>
            #set ($diskRef = "${componentId}-disk")

            <ovf:Disk ovf:capacity="${capacity}" ovf:diskId="${diskRef}"
                      ovf:fileRef="${fileRef}"
                      ovf:format="${format}"/>

            #foreach( $i in [1..${upperBound}] )
                <ovf:Disk ovf:capacity="${capacity}" ovf:diskId="${diskRef}_instance-${i}"
                          ovf:fileRef="${fileRef}_instance-$i"
                          ovf:format="${format}"/>
            #end
        </ovf:DiskSection>
        <ovf:NetworkSection>
            <ovf:Info></ovf:Info>
            <ovf:Network ovf:name="${componentId}-net">
                <ovf:Description>Network to connect to system-${componentId}</ovf:Description>
            </ovf:Network>
        </ovf:NetworkSection>
        <ovf:VirtualSystemCollection ovf:id="${componentId}-system-collection">
            <ovf:Info>Collection of virtual system instances</ovf:Info>
            #foreach( $i in [1..${upperBound}] )
                <ovf:VirtualSystem ovf:id="system-${componentId}_instance-$i">
                    <ovf:Info>${componentId} VM description</ovf:Info>
                    <ovf:ProductSection ovf:class="com.sun.master">
                        <ovf:Info>Product customization for the installed software</ovf:Info>
                        <ovf:Product>${product}</ovf:Product>
                        <ovf:Version>${version}</ovf:Version>
                        <ovf:Property ovf:key="ExternalIP" ovf:type="string"
                                      ovf:value=""/>
                        <!-- Example of IP specific property, needs to be changed -->
                        <ovf:Property ovf:key="InternalIP" ovf:type="string"
                                      ovf:value=""/>
                        <!-- Example of IP specific property, needs to be changed -->
                        <ovf:Property ovf:key="InternalMask" ovf:type="string"
                                      ovf:value=""/>
                        <!-- Example of IP specific property, needs to be changed -->
                        <ovf:Property ovf:key="Hostname" ovf:type="string"
                                      ovf:value="optimis-instance-${componentId}-${i}"/>
                    </ovf:ProductSection>
                    <ovf:VirtualHardwareSection>
                        <ovf:Info>Virtual Hardware Requirements: ${memorySize}MB, ${numberOfCPUs} CPU,
                            1 disk, 1 nic
                        </ovf:Info>
                        <ovf:System>
                            <vssd:ElementName>Virtual Hardware Family</vssd:ElementName>
                            <vssd:InstanceID>0</vssd:InstanceID>
                            <vssd:VirtualSystemType>${virtualHardwareFamily}</vssd:VirtualSystemType>
                        </ovf:System>
                        <ovf:Item>
                            <rasd:Description>Number of virtual CPUs</rasd:Description>
                            <rasd:ElementName>1 virtual CPU</rasd:ElementName>
                            <rasd:InstanceID>1</rasd:InstanceID>
                            <rasd:ResourceType>3</rasd:ResourceType>
                            <rasd:VirtualQuantity>${numberOfCPUs}</rasd:VirtualQuantity>
                        </ovf:Item>
                        <ovf:Item>
                            <rasd:AllocationUnits>MegaBytes</rasd:AllocationUnits>
                            <rasd:Description>Memory Size</rasd:Description>
                            <rasd:ElementName>1024 MB of memory</rasd:ElementName>
                            <rasd:InstanceID>2</rasd:InstanceID>
                            <rasd:ResourceType>4</rasd:ResourceType>
                            <rasd:VirtualQuantity>${memorySize}</rasd:VirtualQuantity>
                        </ovf:Item>
                        <ovf:Item>
                            <rasd:AutomaticAllocation>true</rasd:AutomaticAllocation>
                            <rasd:Connection>${componentId}-net</rasd:Connection>
                            <rasd:ElementName>Ethernet adapter on ${componentId}-net network</rasd:ElementName>
                            <rasd:InstanceID>3</rasd:InstanceID>
                            <rasd:ResourceType>10</rasd:ResourceType>
                        </ovf:Item>
                        <ovf:Item>
                            <rasd:ElementName>Harddisk 1</rasd:ElementName>
                            <rasd:HostResource>ovf:/disk/${diskRef}</rasd:HostResource>
                            <rasd:InstanceID>4</rasd:InstanceID>
                            <rasd:Parent>4</rasd:Parent>
                            <rasd:ResourceType>17</rasd:ResourceType>
                        </ovf:Item>
                        <ovf:Item>
                            <rasd:ElementName>Harddisk 2</rasd:ElementName>
                            <rasd:HostResource>ovf:/disk/${diskRef}_instance-$i</rasd:HostResource>
                            <rasd:InstanceID>4</rasd:InstanceID>
                            <rasd:Parent>4</rasd:Parent>
                            <rasd:ResourceType>17</rasd:ResourceType>
                        </ovf:Item>
                    </ovf:VirtualHardwareSection>
                </ovf:VirtualSystem>
            #end
        </ovf:VirtualSystemCollection>
    </opt:OVFDefinition>
</opt-ip:IncarnatedVirtualMachineComponent>
