 --------------------------
Service Manifest API User Guide
 --------------------------
Angela Rumpl
 --------------------------
2012-02-23
 --------------------------

Service Manifest API User Guide


