<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>InfrastructureProviderRiskAssessmentTool RESTful</display-name>

    <servlet>
        <servlet-name>InfrastructureProviderRiskAssessmentTool</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
           <init-param>
		<param-name>com.sun.jersey.config.feature.DisableXmlSecurity</param-name>
		       <param-value>true</param-value> 
           </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>InfrastructureProviderRiskAssessmentTool</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>