<opt:AffinityRule xmlns:opt="http://schemas.optimis.eu/optimis/">
    <opt:Scope>
        #foreach( $componentId in ${componentIdList} )
        <opt:ComponentId>${componentId}</opt:ComponentId>
        #end
    </opt:Scope>
    <opt:AffinityConstraints>${affinityConstraints}</opt:AffinityConstraints>
</opt:AffinityRule>