<opt:RiskSection xmlns:opt="http://schemas.optimis.eu/optimis/">
    <opt:Scope>
        #foreach(${componentId} in ${componentIdList})
            <opt:ComponentId>${componentId}</opt:ComponentId>
        #end
    </opt:Scope>
    <opt:RiskLevel>${riskLevel}</opt:RiskLevel>
    <opt:AvailabilityArray>
    </opt:AvailabilityArray>
</opt:RiskSection>