<opt-sp:VirtualMachineComponentConfiguration xmlns:opt-sp="http://schemas.optimis.eu/optimis/service"
                                             opt-sp:componentId="${componentId}">
    <opt-sp:SoftwareDependencies></opt-sp:SoftwareDependencies>
    <opt-sp:SecurityVPN>$securityVPN</opt-sp:SecurityVPN>
    <opt-sp:IPS>false</opt-sp:IPS>
    <opt-sp:SecuritySSH>$securitySSH</opt-sp:SecuritySSH>
</opt-sp:VirtualMachineComponentConfiguration>