# This is the template data file for use by the dummy_collector.sh collector script.
# Lines starting with the "#" char are ignored by dummy_collector.sh.
# To generate a real data file for dummy_collector.sh, copy this file to dummy_collector.data and enter values in the pipe-separated fields. Then, let the collector process the data file automatically.
# Below are 3 lines providing examples.
# Field names:
# physical_resource_id|metric_name|metric_value|metric_unit|service_resource_id|virtual_resource_id|resource_type
optimis1|disk_free_space|65887|MB|||physical
optimis1|cpu_average_load|1.370,1.910,1.830||||physical
optimis2|disk_free_space|54662|MB|||physical
