###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               optimis1
        alias                   optimis1
        address                 localhost
        }



###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  optimis-headnode ; The name of the hostgroup
        alias           Optimis Headnode ; Long name of the group
        members         optimis1     ; Comma separated list of hosts that belong to this group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       optimis01
#        service_description             PING
#	check_command			check_ping!100.0,20%!500.0,60%
#        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             disk_free_space 
	check_command			check_local_disk!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

#define service{
#       use                             local-service         ; Name of service template to use
#        host_name                       optimis01
#        service_description             Current Users
#	check_command			check_local_users!20!50
#        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       optimis01
#        service_description             Total Processes
#	check_command			check_local_procs!250!400!RSZDT
#        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             cpu_average_load
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       optimis01
#        service_description             Swap Usage
#	check_command			check_local_swap!20!10
#        }



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       optimis01
#        service_description             SSH
#	check_command			check_ssh
#	notifications_enabled		0
#        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       optimis01
#        service_description             HTTP
#	check_command			check_http
#	notifications_enabled		0
#        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             total_memory
        check_command                   check_totalmem
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             free_memory
        check_command                   check_freemem
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             count_of_users
        check_command                   check_optimis_users
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             mac_address
        check_command                   check_optimis_mac_address
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             disk_total_space
        check_command                   check_optimis_disk_total_space
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             cpu_speed
        check_command                   check_optimis_cpu_speed
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             fqdn
        check_command                   check_optimis_fqdn
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             last_reboot
        check_command                   check_optimis_reboot
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             hardware_error
        check_command                   check_optimis_hardware_error
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       optimis1
        service_description             No_of_cores
        check_command                   check_NoProc
        }

define service{
        use                             local-service
        host_name                       optimis1
        service_description             Downstream
        normal_check_interval           1
        max_check_attempts              4
        check_command                   check_downstream
        contact_groups                  admins
        }

define service{
        use                             local-service
        host_name                       optimis1
        service_description             Upstream
        normal_check_interval           1
        max_check_attempts              4
        check_command                   check_upstream
        contact_groups                  admins
        }

define service{
        use                             local-service
        host_name                       optimis1
        service_description             status
	check_period                    24x7
	normal_check_interval           2
        max_check_attempts              4
        check_command                   check_status
        contact_groups                  admins
        }

